#videos
  - if current_user.present?
    .video-form
      %h1.misc-header Add Video
      .form
        = form_for video, html: {id: 'new'} do |f|
          %fieldset
            %dl
              %dt= f.label :vimeo_url
              %dd= f.text_field :vimeo_url

              %dt= f.label :thumbnail_url, 'Thumbnail from dropbox'
              %dd= f.text_field :thumbnail_url

              %dt= f.label :title
              %dd= f.text_field :title

          %fieldset.actions
            = f.submit 'Save'

    .admin-view
      %h1 Videos
      .cards
        - videos.each do |video|
          .card
            .card-image= image_tag video.thumbnail_url
            .card-header= video.title
            .card-copy
              = link_to 'delete', video_path(video.id), method: :delete, class: 'delete'
              = link_to 'edit', edit_video_path(video), class: 'edit'
  - else
    %h1 Videos
    %ul.video-container.row.video-click
      - videos.each do |video|
        %li.thumb-nail{data: {video_url: video_modal_path(url: video.vimeo_url)}}
          %h1.title= video.title
          = image_tag video.thumbnail_url
