#clients
  %h1 Our Clients
  .scroller
    %div
      .jake-peavy= image_tag 'jake_peavy.png'
    %div
      .digi-pro= image_tag 'digi_pro.png', id: 'digi_pro'
    %div
      .hashrocket= image_tag 'hashrocket.png'
    %div
      .revitalists= image_tag 'revitalists.png'
    %div
      .street-sound= image_tag 'street_sound.png'
    %div
      .ahero= image_tag 'ahero.png'
    %div
      .ballpoint= image_tag 'ballpoint.png'
    %div
      .continuum= image_tag 'continuum.png'
    %div
      .embark= image_tag 'embark_agency.png'
    %div
      .hotels= image_tag 'hotels.png'
    %div
      .southern= image_tag 'southern_falls.png'
    %div
      .web_header= image_tag 'web_header.png'
  .mobile-scroller
    %div
      .jake-peavy= image_tag 'jake_peavy.png'
    %div
      .digi-pro= image_tag 'digi_pro.png', id: 'digi_pro'
    %div
      .hashrocket= image_tag 'hashrocket.png'
    %div
      .revitalists= image_tag 'revitalists.png'
    %div
      .street-sound= image_tag 'street_sound.png'
    %div
      .ahero= image_tag 'ahero.png'
    %div
      .ballpoint= image_tag 'ballpoint.png'
    %div
      .continuum= image_tag 'continuum.png'
    %div
      .embark= image_tag 'embark_agency.png'
    %div
      .hotels= image_tag 'hotels.png'
    %div
      .southern= image_tag 'southern_falls.png'
    %div
      .web_header= image_tag 'web_header.png'
