#photos.main-content
  - if current_user.present?
    .category-form
      %h1.misc-header Add Category
      = render partial: 'form'
    .admin-view
      %h1.misc-header Photos
      .cards
        - categories.each do |category|
          .card
            .card-image= image_tag category.dropbox_url
            .card-header= category.title
            .card-copy
              = link_to 'delete', category_path(category.id), method: :delete, class: 'delete'
              = link_to 'edit', edit_category_path(category.id), class: 'edit'
  - else
    %h1.misc-header Photos
    %ul.categories-container
      .row
        - categories.each do |category|
          .category.modal-trigger{data: {category_id: category.id, url: category_path(category.id)}}
            = image_tag category.dropbox_url
            %p.text= category.title
