#images
  .image-form
    %h1 Add Image
    .form
      = form_for image, html: {id: 'new'} do |f|
        %fieldset
          %dl
            %dt= f.label :dropbox_url
            %dd= f.text_field :dropbox_url

            %dt= f.label :category
            %dd= f.select :category_id, options_for_select(categories.collect { |category| [category.title.titleize, category.id] }, 1), {}, class: 'form-control'

        %fieldset.actions
          = f.submit 'Save'
  .admin-view
    %h1 Images
    .cards
      - images.each do |image|
        .card
          .card-image= image_tag image.dropbox_url
          .card-header= image.category.title
          .card-copy
            = link_to 'delete', image_path(image), method: :delete
            = link_to 'edit'
