.nav-container#normal-nav
  %header.navigation{:role => "banner"}
    .left-navigation-wrapper
      = link_to root_path, class: 'logo' do
        = image_tag 'main_logo.png'
    .right-navigation-wrapper
      %span.navigation-menu-button.menu-button
        .mobile-view.dropdown
          %i.fa.fa-bars
          %ul
            .items
              = link_to root_path do
                %li Home
              = link_to videos_path do
                %li Videos
              = link_to photos_path do
                %li Photos
              %a.contact
                %li Contact
              %li
                = link_to 'https://vimeo.com/lensea', target: '_blank' do
                  %i.fa.fa-vimeo-square
                = link_to 'https://www.instagram.com/lenseafilm/', target: '_blank' do
                  %i.fa.fa-instagram
                = link_to 'https://www.facebook.com/lenseafilm/', target: '_blank' do
                  %i.fa.fa-facebook-square
      %span.links
        = link_to 'Sign Out', sign_out_path, method: :delete, class: 'navigation-menu-button right hidden' if current_user.present?
        .navigation-menu-button.right.normal-view-media
          = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
            %i.fa.fa-vimeo-square
          = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
            %i.fa.fa-instagram
          = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
            %i.fa.fa-facebook-square
        = link_to 'Contact', '#contact', class: 'navigation-menu-button right hidden'
        = link_to 'Photos', photos_path, class: 'navigation-menu-button right hidden'
        = link_to 'Videos', videos_path, class: 'navigation-menu-button right hidden'
        = link_to 'home', root_path, class: 'navigation-menu-button right hidden'
