%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %title LenseaFilm
    = render "layouts/relevant_links"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body#main
    %script{src: "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", type: "text/javascript"}
    .body-wrapper
      - if @nav_image == true
        = render "layouts/loading_screen"
        = render "layouts/special_nav"
      - else
        = render "layouts/normal_nav"
        - if current_user.present?
          = render "layouts/admin_nav"
      = yield
  = render "layouts/footer"
