%html{xmlns: "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %title DestynPatera
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href:'https://fonts.googleapis.com/css?family=PT+Sans', rel:'stylesheet', type: 'text/css'}
    = favicon_link_tag 'apple-touch-icon-57x57.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '57x57'
    = favicon_link_tag 'apple-touch-icon-60x60.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '60x60'
    = favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-76x76-precomposed.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '76x76'
    = favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-120x120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '120x120'
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-152x152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '152x152'
    = favicon_link_tag 'apple-touch-icon-144x144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-144x144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-152x152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '152x152'
    = favicon_link_tag 'apple-touch-icon-180x180.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '180x180'
    = favicon_link_tag 'android-icon-36x36.png', :rel => 'icon', :type => 'image/png', :sizes => '36x36'
    = favicon_link_tag 'android-icon-48x48.png', :rel => 'icon', :type => 'image/png', :sizes => '48x48'
    = favicon_link_tag 'android-icon-72x72.png', :rel => 'icon', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'android-icon-96x96.png', :rel => 'icon', :type => 'image/png', :sizes => '96x96'
    = favicon_link_tag 'android-icon-144x144.png', :rel => 'icon', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'android-icon-192x192.png', :rel => 'icon', :type => 'image/png', :sizes => '192x192'
    = favicon_link_tag 'favicon-16x16.png', :rel => 'icon', :type => 'image/png', :sizes => '16x16'
    = favicon_link_tag 'favicon-32x32.png', :rel => 'icon', :type => 'image/png', :sizes => '32x32'
    = favicon_link_tag 'favicon-96x96.png', :rel => 'icon', :type => 'image/png', :sizes => '96x96'
    %link{:href => "/manifest.json", :rel => "manifest"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:title", content:"Destyn Patera"}
    %meta{content: "Destyn Patera", property: "og:site_name"}
    %meta{property: "og:url", content: "destynpatera.com"}
    %meta{property: "og:image", content: "http://i.imgur.com/d3zdrY0.jpg"}
    %meta{property: "og:description", content: "A story has the power to inspire, to teach, to breathe life into an idea. Our team's focus is to elevate authentic stories through cinematography. We are a full service production company. We write, produce, film, edit and color grade all under one roof."}
    %link{href: "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", rel: "stylesheet", type: "text/css"}
    %link{href: "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css", rel: "stylesheet", type: "text/css"}

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body#main
    %script{src: "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", type: "text/javascript"}
    .body-wrapper
      - if @nav_image == true
        .loading-screen
          .overlay
          .loading-content
            = image_tag 'loading_icon.gif'
        .nav-container#special-nav
          %header.navigation{:role => "banner"}
            .left-navigation-wrapper
              = link_to root_path, class: 'logo' do
                = image_tag 'main_logo.png'
                %p.logo-text Destyn Patera
            .right-navigation-wrapper

              %span.navigation-menu-button.menu-button
                .mobile-view.dropdown
                  %i.fa.fa-bars
                  %ul
                    .items
                      %a.home
                        %li Home
                      -# = link_to videos_path do
                      -#   %li Videos
                      -# = link_to photos_path do
                      -#   %li Photos
                      %a.contact
                        %li Contact
                      %li
                        = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
                          %i.fa.fa-vimeo-square
                        = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
                          %i.fa.fa-instagram
                        = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
                          %i.fa.fa-facebook-square

              %span.links
                = link_to 'Sign Out', sign_out_path, method: :delete, class: 'navigation-menu-button right hidden' if current_user.present?
                .navigation-menu-button.right.normal-view-media
                  = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
                    %i.fa.fa-vimeo-square
                  = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
                    %i.fa.fa-instagram
                  = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
                    %i.fa.fa-facebook-square
                %a.navigation-menu-button.contact.right.hidden Contact
                -# = link_to 'Photos', photos_path, class: 'navigation-menu-button right hidden'
                -# = link_to 'Videos', videos_path, class: 'navigation-menu-button right hidden'
                %a.navigation-menu-button.home.right.hidden Home
      - else
        .nav-container#normal-nav
          %header.navigation{:role => "banner"}
            .left-navigation-wrapper
              = link_to root_path, class: 'logo' do
                = image_tag 'main_logo.png'
                %p.logo-text Destyn Patera
            .right-navigation-wrapper
              %span.navigation-menu-button.menu-button
                .mobile-view.dropdown
                  %i.fa.fa-bars
                  %ul
                    .items
                      = link_to root_path do
                        %li Home
                      = link_to videos_path do
                        %li Videos
                      = link_to photos_path do
                        %li Photos
                      %a.contact
                        %li Contact
                      %li
                        = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
                          %i.fa.fa-vimeo-square
                        = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
                          %i.fa.fa-instagram
                        = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
                          %i.fa.fa-facebook-square
              %span.links
                = link_to 'Sign Out', sign_out_path, method: :delete, class: 'navigation-menu-button right hidden' if current_user.present?
                .navigation-menu-button.right.normal-view-media
                  = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
                    %i.fa.fa-vimeo-square
                  = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
                    %i.fa.fa-instagram
                  = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
                    %i.fa.fa-facebook-square
                = link_to 'Contact', '#contact', class: 'navigation-menu-button right hidden'
                = link_to 'Photos', photos_path, class: 'navigation-menu-button right hidden'
                = link_to 'Videos', videos_path, class: 'navigation-menu-button right hidden'
                = link_to 'home', root_path, class: 'navigation-menu-button right hidden'
        - if current_user.present?
          .admin-links
            = link_to 'View Categories', photos_path
            = link_to 'View Videos', videos_path
            = link_to 'Add Images', images_path
      = yield

  .footers-wrapper
    %footer.footer-top
      .footer-wrapper
        %h1 Let Us Bring Your Story To Life!
        .contact-info
          %i.fa.fa-mobile
          %br
          %span.text#phone (850) 723 - 4917
        .contact-info
          %i.fa.fa-envelope
          %br
          %span.text#email
            %a{href: 'mailto:info@destynpatera.com'} info@destynpatera.com
        .contact-info
          %i.fa.fa-map-marker
          %br
          %span.text Jacksonville, FL
    %footer.footer-bottom#contact{:role => "contentinfo"}
      .footer-wrapper
        .primary-link
          %ul
            %li.copyright
              %i.fa.fa-copyright
                %span.text 2017 Destyn Patera
        .footer-secondary-links
          %ul.footer-social
            = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
              %li= image_tag('vimeo.png', alt: 'vimeo')
            = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
              %li= image_tag('instagram.png', alt: 'instagram')
            = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
              %li= image_tag('facebook.png', alt: 'facebook')
