<!DOCTYPE html>
%html
  %head
    %title DestynPatera
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href:'https://fonts.googleapis.com/css?family=PT+Sans', rel:'stylesheet', type: 'text/css'}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body#main
    .body-wrapper
      - if @nav_image == true
        .nav-container#special-nav
          %header.navigation{:role => "banner"}
            .left-navigation-wrapper
              = link_to root_path, class: 'logo' do
                = image_tag 'main_logo.png'
                %p.logo-text Destyn Patera
            .right-navigation-wrapper
              %span.navigation-menu-button.menu-button
                %i.fa.fa-bars
              %span.links
                = link_to 'Sign Out', sign_out_path, method: :delete, class: 'navigation-menu-button right hidden' if current_user.present?
                = link_to 'Contact', root_path, class: 'navigation-menu-button right hidden'
                = link_to 'Blog', root_path, class: 'navigation-menu-button right hidden'
                = link_to 'Photo', photos_path, class: 'navigation-menu-button right hidden'
                = link_to 'Video', root_path, class: 'navigation-menu-button right hidden'
      - else
        .nav-container#normal-nav
          %header.navigation{:role => "banner"}
            .left-navigation-wrapper
              = link_to root_path, class: 'logo' do
                = image_tag 'main_logo.png'
                %p.logo-text Destyn Patera
            .right-navigation-wrapper
              %span.navigation-menu-button.menu-button
                %i.fa.fa-bars
              = link_to 'Sign Out', sign_out_path, method: :delete, class: 'navigation-menu-button right hidden' if current_user.present?
              = link_to 'Contact', root_path, class: 'navigation-menu-button right hidden'
              = link_to 'Blog', root_path, class: 'navigation-menu-button right hidden'
              = link_to 'Photo', root_path, class: 'navigation-menu-button right hidden'
              = link_to 'Video', root_path, class: 'navigation-menu-button right hidden'

      = yield

  .footers-wrapper
    %footer.footer-top
      .footer-wrapper
        .contact-info
          %i.fa.fa-mobile
          %br
          %span.text 123 456 7890
        .contact-info
          %i.fa.fa-envelope
          %br
          %span.text info@destynpatera.com
        .contact-info
          %i.fa.fa-globe
          %br
          %span.text= link_to 'www.destynpatera.com', 'https://www.destynpatera.com'
    %footer.footer-bottom{:role => "contentinfo"}
      .footer-wrapper
        .primary-link
          %ul
            = link_to root_path do
              %li
                %i.fa.fa-copyright
                %span.text 2016 Destyn Patera
        .footer-secondary-links
          %ul.footer-social
            = link_to 'https://vimeo.com/destynpatera', target: '_blank' do
              %li= image_tag('vimeo.png', alt: 'vimeo')
            = link_to 'https://www.instagram.com/destynpatera/', target: '_blank' do
              %li= image_tag('instagram.png', alt: 'instagram')
            = link_to 'https://www.facebook.com/DestynPatera/', target: '_blank' do
              %li= image_tag('facebook.png', alt: 'facebook')
