<!DOCTYPE html>
%html
  %head
    %title>DestynPatera
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = google_webfonts_init({              |
        google: ['PT Sans', 'serif'] |
      })                                  |

  %body#main
    .nav-container
      %header.navigation{:role => "banner"}
        .left-navigation-wrapper
          = link_to root_path, class: 'logo' do
            %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
            %p.logo-text Destyn Patera
        .right-navigation-wrapper
          %span.navigation-menu-button.menu-button
            %span.right.burger-icon
          = link_to 'Contact', root_path, class: 'navigation-menu-button right hidden'
          = link_to 'Blog', root_path, class: 'navigation-menu-button right hidden'
          = link_to 'Photo', root_path, class: 'navigation-menu-button right hidden'
          = link_to 'Video', root_path, class: 'navigation-menu-button right hidden'

    = yield

    %footer.main-footer{:role => "contentinfo"}
      .main-footer-wrapper
        .primary-link
          %ul
            %li
              %a{:href => "javascript:void(0)"} 2016 Destyn Patera
        .footer-secondary-links
          %ul.footer-social
            %li= link_to(image_tag('vimeo.png', alt: 'vimeo'), root_path, target: '_blank')
            %li= link_to(image_tag('instagram.png', alt: 'instagram'), root_path, target: '_blank')
            %li= link_to(image_tag('facebook.png', alt: 'facebook'), root_path, target: '_blank')
